#ex1Slider .slider-selection {
	background: #BABABA;
}

#leftPopup {
	position:absolute;
	top:0px;
	background: white;
	 color: white;
        background-color: rgba(0, 0, 255, 0.5);
        width: 23%
}

#rightPopup {
	position:absolute;
	top:0px;
	right:0px;
	background: white;
	 color: white;
        background-color: rgba(0, 0, 255, 0.5);
        width: 23%
}